@import "tailwindcss";

:root {
  /* Dark Body, Darker Navbar Palette */
  --background: #050c1bf8; /* Slate 900 for the body */
  --surface: #020617; /* Slate 950 for the navbar (darker than body) */
  --foreground: #f1f5f9; /* Light text for both */
  --primary: #00e5ff; /* Cyan accent */
  --accent: #a5b4fc;
  --border: rgba(255, 255, 255, 0.05);
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}